<footer class="footer-evolucional">
    <div class="container">
        <div class="row">
            <nav class="menu-footer col-sm-6">
                <p>SOBRE</p>
                <div class="row">
                    <div class="menu-footer col-sm">
                        <ul>
                            <li><b>Projeto sem fins lucrativos</b></li>
                            <li class="hide"><b>Feito com: </b>
                                <a href="https://angular.io/" target="_blank" title="Angular">Angular</a>,
                                <a href="https://getbootstrap.com/" target="_blank" title="Bootstrap">Bootstrap</a>,
                                <a href="https://sass-lang.com/" target="_blank" title="Sass">Sass</a>,
                                <a href="https://fontawesome.com/" target="_blank" title="Font-awesome">Font-awesome</a>
                            </li>
                            <li class="hide"><b>Template base: </b>
                                <a href="http://www.evolucional.com.br/" target="_blank"
                                    title="Evolucional">http://www.evolucional.com.br/</a>
                            </li>
                            <li class="hide"><b>Projeto disponível em:</b>
                                <a href="https://github.com/RafaZanezi/evolucional/" target="_blank" title="Github">
                                    Github</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</footer>