<div class="container">
    <div>
        <button class="titulo-padrao btn dropdown-toggle" type="button" (click)="showFiltros()">
            Alunos
        </button>
        <div class="form-filtros" *ngIf="bFiltros">
            <button class="close" (click)="close()"><i class="fa fa-times"></i></button>

            <h5>Filtrar registros</h5>
            <form [formGroup]="oForm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Série</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" formControlName="cbxSerie">
                        <option selected value="">Todas</option>
                        <option *ngFor="let oSerie of aSeries" [value]="oSerie.id">
                            {{ oSerie.name }}</option>
                    </select>
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Classe</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect02" formControlName="cbxClasse">
                        <option selected value="">Todas</option>
                        <option *ngFor="let oClasse of aClasses" [value]="oClasse.id">
                            {{ oClasse.name }}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm tabela">
        <div class="row cabecalho">
            <div class="col-sm">R.A.</div>
            <div class="col-sm">Nome</div>
            <div class="col-sm">Série</div>
            <div class="col-sm">Classe</div>
        </div>

        <div *ngFor="let oData of aDadosPaginados">
            <div class="row body" *ngIf="oData.idAluno != nIdEdicao; else form">
                <div class="col-sm info">{{oData.ra}}</div>
                <div class="col-sm info">{{oData.nome}}</div>
                <div class="col-sm info">{{oData.serie.descricao}}</div>
                <div class="col-sm info">{{oData.classe.descricao}}</div>
                <button type="button" class="btn-edit btn btn-lg btn-block" (click)="editar(oData.idAluno)">Editar
                    registro</button>
            </div>
            <ng-template #form>
                <div class="row body">
                    <app-alunos-form class="col-sm form" [aluno]="oData" (concluir)="atualizaDado($event)">
                    </app-alunos-form>
                </div>
            </ng-template>
        </div>
    </div>

    <nav *ngIf="aDadosFiltrados && aDadosFiltrados.length > 10" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacaoPrev()"><span
                        aria-hidden="true">&laquo;</span></button>
            </li>

            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacao(1)">1</button>
            </li>

            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacao(2)">2</button>
            </li>

            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacao(3)">3</button>
            </li>

            <!-- <label *ngFor="let item of getPaginator()">
                <li class="page-item">
                    <button type="button" class="page-link"
                        (click)="paginacao(3 + item.index)">{{ item.index }}</button>
                </li>
            </label> -->



            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacao()"><span
                        aria-hidden="true">&raquo;</span></button>
            </li>
        </ul>
    </nav>

</div>

<button class="btn gera-registro" (click)="novosRegistros()">Gerar registros</button>