<div class="container">

        <h1 class="titulo-padrao"> Relatórios operáveis odifjeofsiojviodj</h1>
        <h2 class="subtitulo-padrao"> Selecione uma das opções para começar </h2>
    
        <div class="row linha-box">
            <button class="col-sm btn box-info" routerLink="/alunos">
                <i class="fa fa-edit fa-3x"></i>
                <h5>alunos</h5>
            </button>
    
            <button class="col-sm btn box-info">
                <i class="fa fa-book fa-3x"></i>
                <h5>professores</h5>
            </button>
        </div>
    </div>