<div class="container">
    <div>
        <button class="titulo-padrao btn dropdown-toggle" type="button" (click)="showFiltros()">
            Professores
        </button>
        <div class="form-filtros" *ngIf="bFiltros">
            <button class="close" (click)="close()"><i class="fa fa-times"></i></button>

            <h5>Filtrar registros</h5>
            <form [formGroup]="oForm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Série</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" formControlName="cbxSerie">
                        <option selected value="">Todas</option>
                        <option *ngFor="let oSerie of aSeries" [value]="oSerie.id">
                            {{ oSerie.name }}</option>
                    </select>
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Classe</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect02" formControlName="cbxClasse">
                        <option selected value="">Todas</option>
                        <option *ngFor="let oClasse of aClasses" [value]="oClasse.id">
                            {{ oClasse.name }}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm tabela">
        <div class="row cabecalho">
            <div class="col-sm">Nome</div>
            <div class="col-sm">Matéria</div>
            <div class="col-sm">Séries</div>
        </div>

        <div *ngFor="let oData of aDadosPaginados">
            <div class="row body">
                <div class="col-sm info">{{oData.nome}}</div>
                <div class="col-sm info">{{oData.assunto}}</div>
                <div class="info">
                    <div *ngFor="let oSe of oData.series">
                        <div class="row">
                            <div class="col-sm">
                                {{oSe.descricao}}
                                (Classes: <span *ngFor="let oCl of oSe.classes">
                                    {{ oCl.descricao }}
                                </span>)
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-edit" (click)="detalharAlunos(oSe, oData.nome)"
                                    data-toggle="modal" data-target="#modalDetalhar">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav *ngIf="aDadosFiltrados && aDadosFiltrados.length > 10" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacaoPrev()"><span
                        aria-hidden="true">&laquo;</span></button>
            </li>

            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacao(1)">1</button>
            </li>

            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacao(2)">2</button>
            </li>

            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacao(3)">3</button>
            </li>

            <li class="page-item">
                <button type="button" class="page-link" (click)="paginacao()"><span
                        aria-hidden="true">&raquo;</span></button>
            </li>
        </ul>
    </nav>

</div>

<button class="btn gera-registro" routerLink="../">Voltar</button>
<button class="btn gera-registro" data-toggle="modal" data-target="#formModal">Adicionar</button>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo relacionamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-professores-form></app-professores-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetalhar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="oDetalhar" id="exampleModalLabel">{{oDetalhar.noProfessor}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="oDetalhar">
                <label>{{oDetalhar.serie}}</label>

                <div *ngFor="let al of oDetalhar.alunos">
                    <label>{{al.name}}</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>