@import '../../styles.scss';

.titulo-padrao {
    color: $font-primary;
    font-family: 'gotham_medium regular';
    font-size: 2em;
    background-color: transparent;
    border: 0px transparent;

    &:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
}

.cabecalho {
    background: $dark;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.info {
    padding: 10px;
    text-align: center;
}

.tabela {
    background-color: #fff;
}

.form-filtros {
    background-color: #fff;
    color: $font-primary;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.close {
    background-color: transparent;
    border: 0 none;
    float: right;
    color: $font-primary;
    
    &:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
}

.form {
    padding-top: 15px;
    background-color: $dark;
}

.gera-registro {
    margin-top: 25px;
    margin-right: 5px;
    padding: 10px;
    background-color: $dark;
    color: #fff;
}

.btn-edit {
    // display: inline;
    background-color: $font-primary;
    color: #fff;
    margin: 5px;   
    float: right; 
}
