<form [formGroup]="oForm">
    <div class="row">
        <div class="form-group col-sm input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nome</span>
            </div>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nome"
                formControlName="edtNome">
        </div>
        <div class="form-group col-sm input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect02">Classe</label>
            </div>
            <select class="custom-select" id="inputGroupSelect02" formControlName="cbxClasse">
                <option *ngFor="let oClasse of aClasses" [value]="oClasse.id">
                    {{ oClasse.name }}</option>
            </select>
        </div>
        <div class="col-sm-12 col-md-1">
            <button type="submit" title="Salvar" class="btn btn-primary" (click)="atualizar()"><i
                    class="fa fa-check"></i></button>
        </div>
    </div>
</form>