<form [formGroup]="oForm">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" formControlName="edtNome">

        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Série</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" formControlName="cbxSerie">
            <option *ngFor="let oSerie of aSeries" [value]="oSerie.id">
                {{ oSerie.name }}</option>
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect02">Classe</label>
        </div>
        <select class="custom-select" id="inputGroupSelect02" formControlName="cbxClasse">
            <option *ngFor="let oClasse of aClasses" [value]="oClasse.id">
                {{ oClasse.name }}</option>
        </select>
    </div>
</form>